/* disable these when you're done */
/*.ui-grid-container-one {
   background-image: url('/images/grid-1.png'); 
}
.ui-grid-container-two {
  background-image: url('/images/grid-2.png');
}
.ui-grid-container-three {
  background-image: url('/images/grid-3.png');
}*/

/* your CSS goes here */

.ui-grid-container-one {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

item:nth-child(odd) {
  background-color: #6495ed;
}

.ui-grid-container-two {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.ui-grid-container-two .item-pink {
  grid-column: 2/6;
  grid-row: 2/4;
  background-color: #ee64a4;
}

.ui-grid-container-three {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.blue {
  grid-row: 1 / 6;
  grid-column: 1 / 5;
  background-color: #6495ed;
}

.pink {
  grid-row: 1 / 6;
  grid-column: 5 / 6;
  background-color: #ed64a4;
}

.title {
  grid-row: 4 / 5;
  grid-column: 3 / 6;
}

h1 {
  margin: 0;

  font-family: sans-serif;
  color: #d0186c;
  font-size: 7em;
  line-height: 1em;
  text-shadow: 2px 2px 0px #ffffff61;
  /* position: absolute;
  bottom: 141px;
  left: 472px; */
}

